venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.egg
*.egg-info
dist
build
.eggs
.Python
.env
.env.local
.env.development
.env.test
.env.production         

libribrain/*

.idea

.DS_Store
